body {
    color: #777;
    /*height: 100%;*/
}
/*Product Page Layout CSS*/
.BlueText {
  color: #0085da;
}
.CurrencyArea{
  width: 100%;
}
.Currency{
  width: 30%;
  float: left;
  height: 31px;
}
.Rating{
  width: 70%;
  float: right;
}
.productLayout {
  max-width: 1160px;
  margin: 0 auto;
}
.productTitle{
  color: black;
}
.productImageArea{
  width: 100%;
}
.ImageArea{
  width: 50%;
  float: left;
}
.SendowlArea{
  width: 50%;
  float: right;
}
/*End Product Page Layout CSS*/
/*Product CSS*/
.productBox{
  margin-top: 20px;
  margin-bottom: 20px;
}
.productImage{
  text-align: center;
  padding: 8px;
}
.productImage img {
  height: 266px;
  width: 200px;
  margin: 0 auto;
}
.productDesc{
  color: black;
  padding-top: 10px;
  padding-left: 67px;
  padding-right: 44px;
  position: relative;
}
.productDesc ul{
  margin-left: -23px;
}
.ProductBorderButton{
  background-color: white;
  color: #000;
  border: 2px solid #3b8bba;
  display: inline;
  padding: 10px;
}
/*End Product CSS*/
.myElement:first-letter{
  text-transform: capitalize;
}
.subMenuItem a {
  color: black;
}
.main{
  width: 100%;
}
.leftAlgolia{
  float: left;
  width: 19%;
  padding: 4px;
}
.rightProduct{
  float: right;
  width: 79%;
  padding: 4px;
}
.subMenuItem a:visited {
  color: black;
}
.subMenuItem a:hover {
  color: white;
  background-color: #0085da;
}
.footerLayout{
  background-color: #181d1e;
  color: white;
}
.mainContentLayout{
  min-height: 70vh;
  overflow: auto;
}
.MainHeaderLayout{
  background-color: #f9fafc;
  height: 80px;
  text-align: center;
  line-height: 75px;
  color: black;
}
.subMenu{
  background-color: #e1e9ee;
  position: fixed;
  width: 100%;
  top: 100px;
  z-index: 1;
}
.mainMenu{
  position: fixed;
  width: 100%;
  background-color: #7a8690;
  top: 0;
  z-index: 2;
}
.pure-menu-heading{
  margin: 0;
  padding: 10px;
}
.custom-brand a{
  color: white;
  font-size: 20px;
  margin: 0;
}
.custom-brand a:active{
  color: white;
  font-size: 20px;
  text-decoration: none;
}
.custom-brand a:visited{
  color: white;
  font-size: 20px;
  text-decoration: none;
}
.custom-brand a:hover{
  text-decoration: none;
}
.mainLayout{
  background-color: #7a8690;
}
.subChangeLayout{
  background-color: #7a8690;
}
.contentLayout{
  max-width: 1266px;
  background-color: white;
  margin: 0 auto;
  margin-top: 149px;
}
.pure-img-responsive {
  max-width: 100%;
  height: auto;
}
.mainMenuLayout {
  margin: 0 auto;
  margin-top: 50px;
}
.myMainMenu li a{
  font-size: 20px;
  padding-left: 10px;
  padding-right: 10px;
  color: white;
  display: block;
  padding: 10px;
}
.myMainMenu li a:hover{
  color: white;
  text-decoration: none;
  background-color: black;
}
.custom-wrapper {
  margin-bottom: 1em;
  -webkit-font-smoothing: antialiased;
  height: 2.2em;
  overflow: hidden;
  -webkit-transition: height 0.5s;
  -moz-transition: height 0.5s;
  -ms-transition: height 0.5s;
  transition: height 0.5s;
}
.custom-wrapper.open {
    height: 8em;
}
.custom-menu-3 {
    text-align: right;
}
.custom-toggle {
    width: 34px;
    height: 34px;
    position: absolute;
    top: 0;
    right: 0;
    display: none;
}
.custom-toggle .bar {
    background-color: white;
    display: block;
    width: 20px;
    height: 2px;
    border-radius: 100px;
    position: absolute;
    top: 18px;
    right: 7px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
}
.custom-toggle .bar:first-child {
    -webkit-transform: translateY(-6px);
    -moz-transform: translateY(-6px);
    -ms-transform: translateY(-6px);
    transform: translateY(-6px);
}
.custom-toggle.x .bar {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.custom-toggle.x .bar:first-child {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

/*Star Rating */
.star-ratings-css {
  unicode-bidi: bidi-override;
  color: #c5c5c5;
  font-size: 25px;
  height: 31px;
  width: 100px;
  margin: 0 auto;
  position: relative;
  padding: 0;
  text-shadow: 0px 1px 0 #a2a2a2;
  display: inline-block;
  vertical-align: middle;
}
.star-ratings-css-top {
  color: #e7711b;
  padding: 0;
  position: absolute;
  z-index: 0;
  display: block;
  top: 0;
  left: 0;
  overflow: hidden;
}
.star-ratings-css-bottom {
  padding: 0;
  display: block;
  z-index: 0;
}
.star-ratings-sprite {
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/2605/star-rating-sprite.png") repeat-x;
  font-size: 0;
  height: 21px;
  line-height: 0;
  overflow: hidden;
  text-indent: -999em;
  width: 110px;
  margin: 0 auto;
}
.star-ratings-sprite-rating {
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/2605/star-rating-sprite.png") repeat-x;
  background-position: 0 100%;
  float: left;
  height: 21px;
  display: block;
}
/*End Star*/
@media screen and (max-width: 376px) and (min-width: 374px) {
  .productDesc{
    color: black;
    padding-top: 10px;
    padding-left: 107px;
    padding-right: 90px;
    position: relative;
  }
}
@media (max-width: 47.999em) {
    .custom-menu-3 {
        text-align: left;
    }
    .custom-toggle {
        display: block;
    }
    .myMainMenu li a{
      font-size: 16px;
    }
    .subMenu{
      width: 100%;
    }
    .subChangeLayout{
      background-color: #e1e9ee;
    }
    .leftAlgolia{
      clear: both;
      width: 100%;
      padding: 0;
    }
    .rightProduct{
      clear: both;
      width: 100%;
      padding: 0;
    }
    .productDesc{
      color: black;
      padding-top: 10px;
      padding-left: 107px;
      padding-right: 90px;
      position: relative;
    }
    .productLayout{
      padding: 8px;
    }
    .ImageArea{
      clear: both;
      width: 100%;
      padding: 0;
    }
    .SendowlArea{
      clear: both;
      width: 100%;
      padding: 0;
    }
    .Currency{
      clear: both;
      width: 100%;
      padding: 0;
    }
    .Rating{
      clear: both;
      width: 100%;
      padding: 0;
    }
}
@media screen and (max-width: 961px) and (min-width: 959px) {
  .contentLayout{
    max-width: 800px;
    background-color: white;
    margin: 0 auto;
    margin-top: 149px;
  }
  .productDesc{
    color: black;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 44px;
    position: relative;
  }
  .productLayout{
    padding: 8px;
  }
}
@media screen and (max-width: 1279px) and (min-width: 1024px) {
  .contentLayout{
    max-width: 854px;
    background-color: white;
    margin: 0 auto;
    margin-top: 149px;
  }
  .productDesc{
    color: black;
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 44px;
    position: relative;
  }
  .productLayout{
    padding: 8px;
  }
}

@media screen and (max-width: 1365px) and (min-width: 1280px) {
  .contentLayout{
    max-width: 1066px;
    background-color: white;
    margin: 0 auto;
    margin-top: 149px;
  }
  .productDesc{
    color: black;
    padding-top: 10px;
    padding-left: 40px;
    padding-right: 44px;
    position: relative;
  }
  .productLayout{
    padding: 8px;
  }
}

@media screen and (max-width: 1377px) and (min-width: 1366px) {
  .contentLayout{
    max-width: 1138px;
    background-color: white;
    margin: 0 auto;
    margin-top: 149px;
  }
  .productDesc{
    color: black;
    padding-top: 10px;
    padding-left: 50px;
    padding-right: 44px;
    position: relative;
  }
  .productLayout{
    padding: 8px;
  }
}
