body {
    color: #777;
    /*height: 100%;*/
}
.MyNavSearch{
  text-align: right;
}
/*Filter CSS*/
.myPurchase{
  background-color: #7a8690;
  color: black;
  border: 1px solid #e8eaec;
  border-radius: 10px;
  margin: 0;
  padding: 0;
}

.FilterArea{
  margin-left: 20px;
  color: black;
}
.headerFilter{
  color: #0085da;
  font-size: 20px;
}
.FilterTitle{
  font-size: 16px;
  color: #0085da;
}
.FilterTitle{
  font-size: 16px;
  color: #0085da;
}
.myPagination{
  text-align: center;
}
.pagination {
    display: inline-block;
}
.serachBox{
  margin-right: 20px;
}
#PreviousPage{
  cursor: pointer;
}
#NextPage{
  cursor: pointer;
}
.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}
.pagination a.active {
    background-color: #4CAF50;
    color: white;
}
.pagination a:hover:not(.active) {
  background-color: #ddd;
}
/*END Filter CSS*/

/*Page CSS*/
.PageLayout{
  color: black;
}
.container {
    display: block;
    position: relative;
    padding-left: 25px;
    margin-bottom: 8px;
    cursor: pointer;
    font-size: 16px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 18px;
    width: 18px;
    background-color: #ccc;
}
.container:hover input ~ .checkmark {
    background-color: #ccc;
}
.container input:checked ~ .checkmark {
    background-color: #0085da;
}
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
.container input:checked ~ .checkmark:after {
    display: block;
}
.container .checkmark:after {
    left: 6px;
    top: 1px;
    width: 4px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.myStart{
  color: white;
  background-color: #01ba02;
  border-radius: 5px;
  margin: -1px;
  font-size: 12px;
}
.empty-myStart{
  color: white;
  background-color: gray;
  border-radius: 5px;
  margin: -1px;
  font-size: 12px;
}
.fa{
  margin-left: 3px;
}
/*END Page CSS*/
/*Product Page Layout CSS*/
.BlueText {
  color: #0085da;
}
.CurrencyArea{
  width: 100%;
}
.Currency{
  width: 30%;
  float: left;
  height: 31px;
}
.Rating{
  width: 70%;
  float: right;
}
.productLayout {
  max-width: 1160px;
  margin: 0 auto;
}
.productTitle{
  color: black;
}
.productImageArea{
  width: 100%;
}
.ImageArea{
  width: 50%;
  float: left;
}
.SendowlArea{
  width: 50%;
  float: right;
  margin-top:-23px;
}
.Rating h4 {
  margin-top: 21px;
}
.addToCart li{
  list-style: none;
  margin: 0.1em;
  margin-left: 1em;
}
.addToCart li:before{
  font-family: 'FontAwesome';
  content: '\f058';
  float: left;
  color: #0085da;
  margin-left: -1.5em;
}
.addToCart ul li{
  color: black;
}
.addToCart ul{
  margin-left: -32px;
  margin-top: 25px;
}
.carSpecification table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 85%;
  border: 1px solid #ddd;
  color: black;
  color: black;
  font-size: 15px;
}
.carSpecification th, td {
    text-align: left;
    padding: 8px;
}
.carSpecification tr:nth-child(even) {
    background-color: #f2f2f2
}
.ManualArea table{
  border-collapse: collapse;
  border-spacing: 0;
  width: 80%;
  border: 1px solid #ddd;
  color: black;
  font-size: 15px;
}
.ManualArea th, td {
    text-align: left;
    padding: 8px;
}
.ManualArea tr:nth-child(even) {
    background-color: #f2f2f2
}
.MannProp{
  width: 100%;
}
.ManualArea{
  width: 50%;
  float: left;
}
.PropsCons{
  width: 50%;
  float: right;
}
.Props {
  color: black;
}
.Props ul {
  margin-left: -30px;
}
.Props li{
  list-style: none;
  margin: 0.1em;
  margin-left: 1em;
}
.Props li:before{
  font-family: 'FontAwesome';
  content: '\f058';
  float: left;
  color: green;
  margin-left: -1.5em;
}
.Cons {
  color: black;
}
.Cons ul {
  margin-left: -30px;
}
.Cons li{
  list-style: none;
  margin: 0.1em;
  margin-left: 1em;
}
.Cons li:before{
  font-family: 'FontAwesome';
  content: '\f00d';
  float: left;
  color: red;
  margin-left: -1.5em;
}
.ManualDescription h1{
  color: black;
}
.ManualDescription h2{
  color: black;
}
.ManualDescription h3{
  color: black;
}
.ManualDescription h4{
  color: black;
}
.ManualDescription h5{
  color: black;
}
.ManualDescription h6{
  color: black;
}
.ManualDescription p {
  color: black;
}
.ManualDescription ul {
  color: black;
}
.ModelsEngCover{
  color: black;
}
.ModelsEngCover table{
  border-collapse: collapse;
  width: 100%;
}
.ModelsEngCover td, th {
  border: 1px solid #ddd;
  text-align: left;
  padding: 10px;
}
.ReviewBox{
  padding: 8px;
  color: black;
  font-size: 14px;
  /*border: 1px solid lightgray;
  box-shadow: 5px 10px lightgray;*/
}
/*End Product Page Layout CSS*/
/*Product CSS*/
.productBox{
  margin-top: 20px;
  margin-bottom: 20px;
}
.productImage{
  text-align: center;
  padding: 8px;
}
.productImage img {
  height: 400px;
  width: 310px;
  margin: 0 auto;
}
.productDesc{
  color: black;
  padding-top: 10px;
  padding-left: 28px;
  padding-right: 30px;
  position: relative;
}
.ProductBorderButton{
  background-color: white;
  color: #000;
  border: 2px solid #3b8bba;
  display: inline;
  padding: 10px;
}
/*End Product CSS*/
.myElement:first-letter{
  text-transform: capitalize;
}
.subMenuItem a {
  color: black;
}
.main{
  width: 100%;
}
.leftAlgolia{
  float: left;
  width: 19%;
  padding: 4px;
}
.rightProduct{
  float: right;
  width: 79%;
  padding: 4px;
}
.subMenuItem a:visited {
  color: black;
}
.subMenuItem a:hover {
  color: white;
  background-color: #0085da;
}
.footerLayout{
  background-color: #181d1e;
  color: white;
}
.mainContentLayout{
  min-height: 70vh;
  overflow: auto;
}
.ManArea{
  overflow: auto;
}
.MainHeaderLayout{
  background-color: #f9fafc;
  height: 80px;
  text-align: center;
  line-height: 75px;
  color: black;
  margin-top: 158px;
}
.subMenu{
  background-color: #e1e9ee;
  position: fixed;
  width: 100%;
  top: 110px;
  z-index: 3;
}
.BetMenu{
  background-color: #798690;
  width: 100%;
  top: 110px;
  z-index: 4;
  height: 80px;
  color: black;
}
.subMenu1{
  background-color: #e1e9ee;
  width: 100%;
  top: 110px;
  z-index: 4;
}
.mainMenu{
  position: fixed;
  width: 100%;
  background-color: #7a8690;
  top: 0;
  z-index: 5;
}
.pure-menu-heading{
  margin: 0;
  padding: 10px;
}
.custom-brand a{
  color: white;
  font-size: 20px;
  margin: 0;
}
.custom-brand a:active{
  color: white;
  font-size: 20px;
  text-decoration: none;
}
.custom-brand a:visited{
  color: white;
  font-size: 20px;
  text-decoration: none;
}
.custom-brand a:hover{
  text-decoration: none;
}
.mainLayout{
  background-color: #7a8690;
}
.subChangeLayout{
  background-color: #7a8690;
}
.subChangeLayoutFoot{
  background-color: #7a8690;
}
.subChangeLayoutBet{
  background-color: #7a8690;
}
.contentLayout{
  /*max-width: 1394px;*/
  background-color: white;
  margin: 0 auto;
  margin-top: -48px;
  z-index: 2;
}
.pure-img-responsive {
  max-width: 100%;
  height: auto;
}
.mainMenuLayout {
  margin: 0 auto;
  margin-top: 50px;
}
.myMainMenu li a{
  font-size: 16px;
  padding-left: 10px;
  padding-right: 10px;
  color: white;
  display: block;
  padding: 10px;
}
.myMainMenu li a:hover{
  color: white;
  text-decoration: none;
  background-color: black;
}
.myMainMenu li a.myPurchase:hover{
  color: white;
  text-decoration: none;
  background-color: #0085da;
}
.custom-wrapper {
  margin-bottom: 1em;
  -webkit-font-smoothing: antialiased;
  height: 2.78em;
  overflow: hidden;
  -webkit-transition: height 0.5s;
  -moz-transition: height 0.5s;
  -ms-transition: height 0.5s;
  transition: height 0.5s;
}
.custom-wrapper.open {
    height: 16em;
}
.custom-menu-3 {
    text-align: right;
}
.custom-toggle {
    width: 34px;
    height: 34px;
    position: absolute;
    top: 0;
    right: 0;
    display: none;
}
.custom-toggle .bar {
    background-color: white;
    display: block;
    width: 20px;
    height: 2px;
    border-radius: 100px;
    position: absolute;
    top: 18px;
    right: 7px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
}
.custom-toggle .bar:first-child {
    -webkit-transform: translateY(-6px);
    -moz-transform: translateY(-6px);
    -ms-transform: translateY(-6px);
    transform: translateY(-6px);
}
.custom-toggle.x .bar {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.custom-toggle.x .bar:first-child {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

/*Star Rating */
.star-ratings-css {
  unicode-bidi: bidi-override;
  color: #c5c5c5;
  font-size: 22px;
  height: 31px;
  width: 100px;
  margin: 0 auto;
  position: relative;
  padding: 0;
  text-shadow: 0px 1px 0 #a2a2a2;
  display: inline-block;
  vertical-align: middle;
}
.star-ratings-css-top {
  color: #e7711b;
  padding: 0;
  position: absolute;
  z-index: 0;
  display: block;
  top: 0;
  left: 0;
  overflow: hidden;
}
.star-ratings-css-bottom {
  padding: 0;
  display: block;
  z-index: 0;
}
.star-ratings-sprite {
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/2605/star-rating-sprite.png") repeat-x;
  font-size: 0;
  height: 21px;
  line-height: 0;
  overflow: hidden;
  text-indent: -999em;
  width: 110px;
  margin: 0 auto;
}
.star-ratings-sprite-rating {
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/2605/star-rating-sprite.png") repeat-x;
  background-position: 0 100%;
  float: left;
  height: 21px;
  display: block;
}
/*End Star*/
.myContainer{
  position: relative;
}
/*@media screen and (max-width: 376px) and (min-width: 374px) {
  .productDesc{
    color: black;
    padding-top: 10px;
    padding-left: 107px;
    padding-right: 90px;
    position: relative;
  }
  .carSpecification table{
    width: 100%;
  }
}
@media (max-width: 47.999em) {
    .custom-menu-3 {
        text-align: left;
    }
    .custom-toggle {
        display: block;
    }
    .myMainMenu li a{
      font-size: 16px;
    }
    .subMenu{
      width: 100%;
    }
    .subChangeLayout{
      background-color: #e1e9ee;
    }
    .subChangeLayoutBet{
      background-color: #f9fafc;
    }
    .leftAlgolia{
      clear: both;
      width: 100%;
      padding: 0;
    }
    .rightProduct{
      clear: both;
      width: 100%;
      padding: 0;
    }
    .ManualArea{
      clear: both;
      width: 100%;
      padding: 0;
    }
    .PropsCons{
      clear: both;
      width: 100%;
      padding: 0;
    }
    .productDesc{
      color: black;
      padding-top: 10px;
      padding-left: 37px;
      padding-right: 37px;
      position: relative;
    }
    .productLayout{
      padding: 8px;
    }
    .ImageArea{
      clear: both;
      width: 100%;
      padding: 0;
    }
    .SendowlArea{
      clear: both;
      width: 100%;
      padding: 0;
      margin-top: 20px;
    }
    .Currency{
      clear: both;
      width: 100%;
      padding: 0;
    }
    .Rating{
      clear: both;
      width: 100%;
      padding: 0;
    }
    .carSpecification table{
      width: 100%;
    }
    .ManualArea table{
      width: 100%;
    }
    .Props ul {
      margin-left: -30px;
    }
    .Cons ul {
      margin-left: -30px;
    }
}
@media screen and (max-width: 958px) and (min-width: 764px) {
  .subChangeLayout{
    background-color: #e1e9ee;
  }
}
@media screen and (max-width: 961px) and (min-width: 959px) {
  .contentLayout{
    background-color: white;
    margin: 0 auto;
    margin-top: -48px;
  }
  .productDesc{
    color: black;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 44px;
    position: relative;
  }
  .productLayout{
    padding: 8px;
  }
  .carSpecification table{
    width: 100%;
  }
}
@media screen and (max-width: 1050px) and (min-width: 1024px) {
  .contentLayout{
    background-color: white;
    margin: 0 auto;
    margin-top: -48px;
  }
  .productDesc{
    color: black;
    padding-top: 10px;
    padding-left: 8px;
    padding-right: 8px;
    position: relative;
  }
  .productLayout{
    padding: 8px;
  }
}
@media screen and (max-width: 1100px) and (min-width: 1050px) {
  .contentLayout{
    background-color: white;
    margin: 0 auto;
    margin-top: -48px;
  }
  .productLayout{
    padding: 8px;
  }
}

@media screen and (max-width: 1365px) and (min-width: 1280px) {
  .contentLayout{
    background-color: white;
    margin: 0 auto;
    margin-top: -48px;
  }
  .productDesc{
    color: black;
    padding-top: 10px;
    padding-left: 7px;
    padding-right: 7px;
    position: relative;
  }
  .productLayout{
    padding: 8px;
  }
}

@media screen and (max-width: 1377px) and (min-width: 1366px) {
  .contentLayout{
    background-color: white;
    margin: 0 auto;
    margin-top: -48px;
  }
  .productDesc{
    color: black;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
  }
  .productLayout{
    padding: 8px;
  }
}
@media screen and (max-width: 1545px) and (min-width: 1362px) {
  .contentLayout{
    background-color: white;
    margin: 0 auto;
    margin-top: -48px;
  }
}*/
.MyNavSearch{
  text-align: right;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px){
  .MyNavSearch{
    text-align: center;
  }
  .custom-menu-3 {
      text-align: left;
  }
  .custom-toggle {
      display: block;
  }
  .myMainMenu li a{
    font-size: 16px;
  }
  .subMenu{
    width: 100%;
  }
  .subChangeLayout{
    background-color: #e1e9ee;
  }
  .subChangeLayoutFoot{
    background-color: #181d1e;
  }
  .subChangeLayoutBet{
    background-color: #f9fafc;
  }
  .myContentCell{
    background-color: white;
  }
  .leftAlgolia{
    clear: both;
    width: 100%;
    padding: 0;
  }
  .rightProduct{
    clear: both;
    width: 100%;
    padding: 0;
  }
  .ManualArea{
    clear: both;
    width: 100%;
    padding: 0;
  }
  .PropsCons{
    clear: both;
    width: 100%;
    padding: 0;
  }
  .productDesc{
    color: black;
    padding-top: 10px;
    padding-left: 37px;
    padding-right: 37px;
    position: relative;
  }
  .productLayout{
    padding: 8px;
  }
  .ImageArea{
    clear: both;
    width: 100%;
    padding: 0;
  }
  .SendowlArea{
    clear: both;
    width: 100%;
    padding: 0;
    margin-top: 20px;
  }
  .Currency{
    clear: both;
    width: 100%;
    padding: 0;
  }
  .Rating{
    clear: both;
    width: 100%;
    padding: 0;
  }
  .carSpecification table{
    width: 100%;
  }
  .ManualArea table{
    width: 100%;
  }
}
@media only screen and (min-device-width: 480px) and (max-device-width: 568px){
  .custom-menu-3 {
      text-align: left;
  }
  .custom-toggle {
      display: block;
  }
  .myMainMenu li a{
    font-size: 16px;
  }
  .subMenu{
    width: 100%;
  }
  .subChangeLayout{
    background-color: #e1e9ee;
  }
  .subChangeLayoutFoot{
    background-color: #181d1e;
  }
  .subChangeLayoutBet{
    background-color: #f9fafc;
  }
  .myContentCell{
    background-color: white;
  }
  .leftAlgolia{
    clear: both;
    width: 100%;
    padding: 0;
  }
  .rightProduct{
    clear: both;
    width: 100%;
    padding: 0;
  }
  .ManualArea{
    clear: both;
    width: 100%;
    padding: 0;
  }
  .PropsCons{
    clear: both;
    width: 100%;
    padding: 0;
  }
  .productDesc{
    color: black;
    padding-top: 10px;
    padding-left: 65px;
    padding-right: 65px;
    position: relative;
  }
  .productLayout{
    padding: 8px;
  }
  .ImageArea{
    clear: both;
    width: 100%;
    padding: 0;
  }
  .SendowlArea{
    clear: both;
    width: 100%;
    padding: 0;
    margin-top: 20px;
  }
  .Currency{
    clear: both;
    width: 100%;
    padding: 0;
  }
  .Rating{
    clear: both;
    width: 100%;
    padding: 0;
  }
  .carSpecification table{
    width: 100%;
  }
  .ManualArea table{
    width: 100%;
  }
}
@media only screen and (min-device-width: 568px) and (max-device-width: 667px){
  .custom-menu-3 {
      text-align: left;
  }
  .custom-toggle {
      display: block;
  }
  .myMainMenu li a{
    font-size: 16px;
  }
  .subMenu{
    width: 100%;
  }
  .subChangeLayout{
    background-color: #e1e9ee;
  }
  .subChangeLayoutFoot{
    background-color: #181d1e;
  }
  .subChangeLayoutBet{
    background-color: #f9fafc;
  }
  .myContentCell{
    background-color: white;
  }
  .leftAlgolia{
    clear: both;
    width: 100%;
    padding: 0;
  }
  .rightProduct{
    clear: both;
    width: 100%;
    padding: 0;
  }
  .ManualArea{
    clear: both;
    width: 100%;
    padding: 0;
  }
  .PropsCons{
    clear: both;
    width: 100%;
    padding: 0;
  }
  .productDesc{
    color: black;
    padding-top: 10px;
    padding-left: 104px;
    padding-right: 104px;
    position: relative;
  }
  .productLayout{
    padding: 8px;
  }
  .ImageArea{
    clear: both;
    width: 100%;
    padding: 0;
  }
  .SendowlArea{
    clear: both;
    width: 100%;
    padding: 0;
    margin-top: 20px;
  }
  .Currency{
    clear: both;
    width: 100%;
    padding: 0;
  }
  .Rating{
    clear: both;
    width: 100%;
    padding: 0;
  }
  .carSpecification table{
    width: 100%;
  }
  .ManualArea table{
    width: 100%;
  }
}
@media only screen and (min-device-width: 667px) and (max-device-width: 736px){
  .custom-menu-3 {
      text-align: left;
  }
  .custom-toggle {
      display: block;
  }
  .myMainMenu li a{
    font-size: 16px;
  }
  .subMenu{
    width: 100%;
  }
  .subChangeLayout{
    background-color: #e1e9ee;
  }
  .subChangeLayoutFoot{
    background-color: #181d1e;
  }
  .subChangeLayoutBet{
    background-color: #f9fafc;
  }
  .myContentCell{
    background-color: white;
  }
  .leftAlgolia{
    clear: both;
    width: 100%;
    padding: 0;
  }
  .rightProduct{
    clear: both;
    width: 100%;
    padding: 0;
  }
  .ManualArea{
    clear: both;
    width: 100%;
    padding: 0;
  }
  .PropsCons{
    clear: both;
    width: 100%;
    padding: 0;
  }
  .productDesc{
    color: black;
    padding-top: 10px;
    padding-left: 150px;
    padding-right: 150px;
    position: relative;
  }
  .productLayout{
    padding: 8px;
  }
  .ImageArea{
    clear: both;
    width: 100%;
    padding: 0;
  }
  .SendowlArea{
    clear: both;
    width: 100%;
    padding: 0;
    margin-top: 20px;
  }
  .Currency{
    clear: both;
    width: 100%;
    padding: 0;
  }
  .Rating{
    clear: both;
    width: 100%;
    padding: 0;
  }
  .carSpecification table{
    width: 100%;
  }
  .ManualArea table{
    width: 100%;
  }
}
@media only screen and (min-device-width: 736px) and (max-device-width: 768px) {
  .custom-menu-3 {
      text-align: left;
  }
  .custom-toggle {
      display: block;
  }
  .myMainMenu li a{
    font-size: 16px;
  }
  .subMenu{
    width: 100%;
  }
  .subChangeLayout{
    background-color: #e1e9ee;
  }
  .subChangeLayoutFoot{
    background-color: #181d1e;
  }
  .subChangeLayoutBet{
    background-color: #f9fafc;
  }
  .myContentCell{
    background-color: white;
  }
  .leftAlgolia{
    clear: both;
    width: 100%;
    padding: 0;
  }
  .rightProduct{
    clear: both;
    width: 100%;
    padding: 0;
  }
  .ManualArea{
    clear: both;
    width: 100%;
    padding: 0;
  }
  .PropsCons{
    clear: both;
    width: 100%;
    padding: 0;
  }
  .productDesc{
    color: black;
    padding-top: 10px;
    padding-left: 182px;
    padding-right: 182px;
    position: relative;
  }
  .productLayout{
    padding: 8px;
  }
  .ImageArea{
    clear: both;
    width: 100%;
    padding: 0;
  }
  .SendowlArea{
    clear: both;
    width: 100%;
    padding: 0;
    margin-top: 20px;
  }
  .Currency{
    clear: both;
    width: 100%;
    padding: 0;
  }
  .Rating{
    clear: both;
    width: 100%;
    padding: 0;
  }
  .carSpecification table{
    width: 100%;
  }
  .ManualArea table{
    width: 100%;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 871px) {
  .custom-menu-3 {
      text-align: left;
  }
  .custom-toggle {
      display: block;
  }
  .myMainMenu li a{
    font-size: 16px;
  }
  .subMenu{
    width: 100%;
  }
  .subChangeLayout{
    background-color: #e1e9ee;
  }
  .subChangeLayoutFoot{
    background-color: #181d1e;
  }
  .subChangeLayoutBet{
    background-color: #f9fafc;
  }
  .myContentCell{
    background-color: white;
  }
  .leftAlgolia{
    clear: both;
    width: 100%;
    padding: 0;
  }
  .rightProduct{
    clear: both;
    width: 100%;
    padding: 0;
  }
  .ManualArea{
    clear: both;
    width: 100%;
    padding: 0;
  }
  .PropsCons{
    clear: both;
    width: 100%;
    padding: 0;
  }
  .productDesc{
    color: black;
    padding-top: 10px;
    padding-left: 8px;
    padding-right: 8px;
    position: relative;
  }
  .productLayout{
    padding: 8px;
  }
  .ImageArea{
    clear: both;
    width: 100%;
    padding: 0;
  }
  .SendowlArea{
    clear: both;
    width: 100%;
    padding: 0;
    margin-top: 20px;
  }
  .Currency{
    clear: both;
    width: 100%;
    padding: 0;
  }
  .Rating{
    clear: both;
    width: 100%;
    padding: 0;
  }
  .carSpecification table{
    width: 100%;
  }
  .ManualArea table{
    width: 100%;
  }
}
@media only screen and (min-device-width: 872px) and (max-device-width: 1366px) {
  .contentLayout{
    background-color: white;
    margin: 0 auto;
    margin-top: -48px;
  }
  .productDesc{
    color: black;
    padding-top: 10px;
    padding-left: 8px;
    padding-right: 8px;
    position: relative;
  }
  .productLayout{
    padding: 8px;
  }
  .carSpecification table{
    width: 100%;
  }
}
@media only screen and (min-device-width: 1366px) and (max-device-width: 1400px) {
  .contentLayout{
    background-color: white;
    margin: 0 auto;
    margin-top: -48px;
  }
  .productDesc{
    color: black;
    padding-top: 10px;
    padding-left: 8px;
    padding-right: 8px;
    position: relative;
  }
  .productLayout{
    padding: 8px;
  }
  .carSpecification table{
    width: 100%;
  }
}
@media only screen and (min-device-width: 1400px) and (max-device-width: 1600px) {
  .contentLayout{
    background-color: white;
    margin: 0 auto;
    margin-top: -48px;
  }
  .productDesc{
    color: black;
    padding-top: 10px;
    padding-left: 24px;
    padding-right: 24px;
    position: relative;
  }
  .productLayout{
    padding: 8px;
  }
  .carSpecification table{
    width: 100%;
  }
}
@media only screen and (min-device-width: 1600px) and (max-device-width: 1800px) {
  .contentLayout{
    background-color: white;
    margin: 0 auto;
    margin-top: -48px;
  }
  .productDesc{
    color: black;
    padding-top: 10px;
    padding-left: 27px;
    padding-right: 27px;
    position: relative;
  }
  .productLayout{
    padding: 8px;
  }
  .carSpecification table{
    width: 100%;
  }
}
@media only screen and (min-device-width: 1800px) and (max-device-width: 2000px) {
  .contentLayout{
    background-color: white;
    margin: 0 auto;
    margin-top: -48px;
  }
  .productDesc{
    color: black;
    padding-top: 10px;
    padding-left: 62px;
    padding-right: 62px;
    position: relative;
  }
  .productLayout{
    padding: 8px;
  }
  .carSpecification table{
    width: 100%;
  }
}
