<input type="hidden" value="{{.Lang}}" id="myLang1">
<script type="text/javascript">
  var client = algoliasearch("YZO8M6AZ6J", "74516bbcef74ec917e2acbcd0df2df0f");
  var index = client.initIndex('cml-new');
  var searchBrand = $("#display_brand").val();
  var myLang = $("#myLang1").val();
  $(document).ready(function(){
  var client = algoliasearch("YZO8M6AZ6J", "74516bbcef74ec917e2acbcd0df2df0f");
  var index = client.initIndex('cml-new');
  var searchBrand = $("#display_brand").val();
  var Currency = [];
  Currency.push("currency:"+myLang)
  if(searchBrand){
    var mainSearch = [], BrandArray = [];
    BrandArray.push("make:"+searchBrand);
    mainSearch.push(BrandArray);
    mainSearch.push(Currency);
    index.search({
      query: '*',
      hitsPerPage: 9,
      facetFilters: mainSearch,
      facets: ['make','series','subseries','years','platform']
    }).then(res => {

      var BrandText = ""
      var SeriesText = ""
      var SubSeriesText = ""
      var YearsText = ""
      var PlatformText = ""
      var manualBrand = res.facets['make'];
      var manualSeries = res.facets['series'];
      var manualSubseries = res.facets['subseries']
      var manualYears = res.facets['years']
      var manualPlatform = res.facets['platform']

      $.each( manualBrand, function( key, value ) {
        BrandText += "<label class='container'>"+key+"<input type='checkbox' value='"+key+"' class='searchBrand mySearch'><span class='checkmark'></span></label>";
      });
      $("#myBrand").html(BrandText);

      $.each( manualSeries, function( key, value ) {
        SeriesText += "<label class='container'>"+key+"<input type='checkbox' value='"+key+"' class='searchSeries mySearch'><span class='checkmark'></span></label>";
      });
      $("#mySeries").html(SeriesText);

      $.each( manualSubseries, function( key, value ) {
        SubSeriesText += "<label class='container'>"+key+"<input type='checkbox' value='"+key+"' class='searchSubSeries mySearch'><span class='checkmark'></span></label>";
      });
      $("#mySubseries").html(SubSeriesText);

      $.each( manualYears, function( key, value ) {
        YearsText += "<label class='container'>"+key+"<input type='checkbox' value='"+key+"' class='searchYears mySearch'><span class='checkmark'></span></label>";
      });
      $("#myYears").html(YearsText);

      $.each( manualPlatform, function( key, value ) {
        PlatformText += "<label class='container'>"+key+"<input type='checkbox' value='"+key+"' class='searchSubSeries mySearch'><span class='checkmark'></span></label>";
      });
      $("#myPlatform").html(PlatformText);
      console.log(res);
      var pagination = "<a id='PreviousPage' href='#'>&laquo;</a>"+
      "<a id='currentPage' data-id='0'>Page: 1 Of "+res['nbPages']+"</a>"+
      "<a id='NextPage' href='#'>&raquo;</a>";
      $("#MyPaginationHere").html(pagination)
    });
  }else{
    var Currency = [], mainSearch = [];
    Currency.push("currency:"+myLang)
    mainSearch.push(Currency);
    index.search({
      query: '*',
      hitsPerPage: 9,
      facetFilters: mainSearch,
      facets: ['make','series','subseries','years','platform']
    }).then(res => {

      var BrandText = ""
      var SeriesText = ""
      var SubSeriesText = ""
      var YearsText = ""
      var PlatformText = ""
      var manualBrand = res.facets['make'];
      var manualSeries = res.facets['series'];
      var manualSubseries = res.facets['subseries']
      var manualYears = res.facets['years']
      var manualPlatform = res.facets['platform']

      $.each( manualBrand, function( key, value ) {
        BrandText += "<label class='container'>"+key+"<input type='checkbox' value='"+key+"' class='searchBrand mySearch'><span class='checkmark'></span></label>";
      });
      $("#myBrand").html(BrandText);

      $.each( manualSeries, function( key, value ) {
        SeriesText += "<label class='container'>"+key+"<input type='checkbox' value='"+key+"' class='searchSeries mySearch'><span class='checkmark'></span></label>";
      });
      $("#mySeries").html(SeriesText);

      $.each( manualSubseries, function( key, value ) {
        SubSeriesText += "<label class='container'>"+key+"<input type='checkbox' value='"+key+"' class='searchSubSeries mySearch'><span class='checkmark'></span></label>";
      });
      $("#mySubseries").html(SubSeriesText);

      $.each( manualYears, function( key, value ) {
        YearsText += "<label class='container'>"+key+"<input type='checkbox' value='"+key+"' class='searchYears mySearch'><span class='checkmark'></span></label>";
      });
      $("#myYears").html(YearsText);

      $.each( manualPlatform, function( key, value ) {
        PlatformText += "<label class='container'>"+key+"<input type='checkbox' value='"+key+"' class='searchPlatform mySearch'><span class='checkmark'></span></label>";
      });
      $("#myPlatform").html(PlatformText);

      // console.log(res);
      var pagination = "<a id='PreviousPage' href='#'>&laquo;</a>"+
      "<a id='currentPage' data-id='0'>Page: 1 Of "+res['nbPages']+"</a>"+
      "<a id='NextPage' href='#'>&raquo;</a>";
      $("#MyPaginationHere").html(pagination)
    });
  }
});
$(document).on('click','.mySearch',function(){
  if(this.checked){
    var myTx = ""
    $(".searchInput").each(function() {
      if($(this).val() !== ""){
        myTx = $(this).val()
      }
    });
    var MainSearch = []
    var BrandSearch = [], BrandArray = [];
    var SeriesSearch = [], SeriesArray = [];
    var SubseriesSearch = [], SubseriesArray = [];
    var YearSerach = [], YearArray = [];
    var PlatformSearch = [], PlatformArray = [];
    var Currency = [];
    Currency.push("currency:"+myLang)
    if(searchBrand){
      BrandSearch.push("make:"+searchBrand);
      $('.searchBrand').each(function(){
        if (this.checked) {
          if(searchBrand == "Bmw"){
            BrandArray.push("BMW");
          }else{
            BrandArray.push(searchBrand);
          }
        }
      });
    }else{
      $('.searchBrand').each(function(){
        if (this.checked) {
          BrandSearch.push("make:"+$(this).val());
          BrandArray.push($(this).val());
        }
      });
    }
    $('.searchSeries').each(function(){
      if (this.checked) {
        SeriesSearch.push("series:"+$(this).val());
        SeriesArray.push($(this).val());
      }
    });
    $('.searchSubSeries').each(function(){
      if (this.checked) {
        SubseriesSearch.push("subseries:"+$(this).val());
        SubseriesArray.push($(this).val());
      }
    });
    $('.searchYears').each(function(){
      if (this.checked) {
        YearSerach.push("years:"+$(this).val());
        YearArray.push($(this).val());
      }
    });
    $('.searchPlatform').each(function(){
      if (this.checked) {
        PlatformSearch.push("platform:"+$(this).val());
        PlatformArray.push($(this).val());
      }
    });

    MainSearch.push(BrandSearch);
    MainSearch.push(SeriesSearch);
    MainSearch.push(SubseriesSearch);
    MainSearch.push(YearSerach);
    MainSearch.push(PlatformSearch);
    MainSearch.push(Currency);
    index.search({
      query: myTx,
      hitsPerPage: 9,
      facetFilters: MainSearch,
      facets: ['make','series','subseries','years','platform']
    }).then(res => {

      var BrandText = ""
      var SeriesText = ""
      var SubSeriesText = ""
      var YearsText = ""
      var PlatformText = ""
      var manualBrand = res.facets['make'];
      var manualSeries = res.facets['series'];
      var manualSubseries = res.facets['subseries']
      var manualYears = res.facets['years']
      var manualPlatform = res.facets['platform']

      $.each( manualBrand, function( key, value ) {
        if($.inArray(key,BrandArray) != -1){
          BrandText += "<label class='container'>"+key+"<input type='checkbox' value='"+key+"' class='searchBrand mySearch' checked><span class='checkmark'></span></label>";
        }else{
          BrandText += "<label class='container'>"+key+"<input type='checkbox' value='"+key+"' class='searchBrand mySearch'><span class='checkmark'></span></label>";
        }
      });
      $("#myBrand").html(BrandText);

      $.each( manualSeries, function( key, value ) {
        if($.inArray(key,SeriesArray) != -1){
          SeriesText += "<label class='container'>"+key+"<input type='checkbox' value='"+key+"' class='searchSeries mySearch' checked><span class='checkmark'></span></label>";
        }else{
          SeriesText += "<label class='container'>"+key+"<input type='checkbox' value='"+key+"' class='searchSeries mySearch'><span class='checkmark'></span></label>";
        }
      });
      $("#mySeries").html(SeriesText);

      $.each( manualSubseries, function( key, value ) {
        if($.inArray(key,SubseriesArray) != -1){
          SubSeriesText += "<label class='container'>"+key+"<input type='checkbox' value='"+key+"' class='searchSubSeries mySearch' checked><span class='checkmark'></span></label>";
        }else{
          SubSeriesText += "<label class='container'>"+key+"<input type='checkbox' value='"+key+"' class='searchSubSeries mySearch'><span class='checkmark'></span></label>";
        }
      });
      $("#mySubseries").html(SubSeriesText);

      $.each( manualYears, function( key, value ) {
        if($.inArray(key,YearArray) != -1){
          YearsText += "<label class='container'>"+key+"<input type='checkbox' value='"+key+"' class='searchYears mySearch' checked><span class='checkmark'></span></label>";
        }else{
          YearsText += "<label class='container'>"+key+"<input type='checkbox' value='"+key+"' class='searchYears mySearch'><span class='checkmark'></span></label>";
        }
      });
      $("#myYears").html(YearsText);

      $.each( manualPlatform, function( key, value ) {
        if($.inArray(key,PlatformArray) != -1){
          PlatformText += "<label class='container'>"+key+"<input type='checkbox' value='"+key+"' class='searchPlatform mySearch' checked><span class='checkmark'></span></label>";
        }else{
          PlatformText += "<label class='container'>"+key+"<input type='checkbox' value='"+key+"' class='searchPlatform mySearch'><span class='checkmark'></span></label>";
        }
      });
      $("#myPlatform").html(PlatformText);

      var prodcuct = ""
      $.each(res.hits, function( i, val ){
        prodcuct += "<div class='pure-u-1 pure-u-md-1-3'>"+
          "<div class='productBox'>"+
            "<div class='productImage'>"+
              "<a href='{{$.Site.BaseURL}}{{.Lang}}/"+val['url']+"'><img src='"+val['catimage']+"' alt=''></a>"+
            "</div>"+
            "<div class='productDesc'>"+
              "<a href='{{$.Site.BaseURL}}{{.Lang}}/"+val['url']+"'>"+val['title']+"</a>"+
                "<div>"+
                  "<p style='float:left;font-weight:bold;'>"+
                    "Price: "+val['price']+""+
                  "</p>"+
                  "<p style='float:right;'>"+
                    "<a href='{{$.Site.BaseURL}}{{.Lang}}/"+val['url']+"' class='ProductBorderButton'>More Info</a>"+
                    "</p>"+
                "</div>"+
            "</div>"+
          "</div>"+
        "</div>";
      });
      $("#productData").html(prodcuct);

      var pagination = "<a id='PreviousPage' href='#'>&laquo;</a>"+
      "<a id='currentPage' data-id='0'>Page: 1 Of "+res['nbPages']+"</a>"+
      "<a id='NextPage' href='#'>&raquo;</a>";
      $("#MyPaginationHere").html(pagination);
    });
  }else{
    $(this).removeAttr( "checked" )

    var myTx = ""
    $(".searchInput").each(function() {
      if($(this).val() !== ""){
        myTx = $(this).val()
      }
    });

    var MainSearch = []
    var BrandSearch = [], BrandArray = [];
    var SeriesSearch = [], SeriesArray = [];
    var SubseriesSearch = [], SubseriesArray = [];
    var YearSerach = [], YearArray = [];
    var PlatformSearch = [], PlatformArray = [];
    var Currency = [];
    Currency.push("currency:"+myLang)
    if(searchBrand){
      BrandSearch.push("make:"+searchBrand);
      $('.searchBrand').each(function(){
        if (this.checked) {
          if(searchBrand == "Bmw"){
            BrandArray.push("BMW");
          }else{
            BrandArray.push(searchBrand);
          }
        }
      });
    }else{
      $('.searchBrand').each(function(){
        if (this.checked) {
          BrandSearch.push("make:"+$(this).val());
          BrandArray.push($(this).val());
        }
      });
    }
    $('.searchSeries').each(function(){
      if (this.checked) {
        SeriesSearch.push("series:"+$(this).val());
        SeriesArray.push($(this).val());
      }
    });
    $('.searchSubSeries').each(function(){
      if (this.checked) {
        SubseriesSearch.push("subseries:"+$(this).val());
        SubseriesArray.push($(this).val());
      }
    });
    $('.searchYears').each(function(){
      if (this.checked) {
        YearSerach.push("years:"+$(this).val());
        YearArray.push($(this).val());
      }
    });
    $('.searchPlatform').each(function(){
      if (this.checked) {
        PlatformSearch.push("platform:"+$(this).val());
        PlatformArray.push($(this).val());
      }
    });

    MainSearch.push(BrandSearch);
    MainSearch.push(SeriesSearch);
    MainSearch.push(SubseriesSearch);
    MainSearch.push(YearSerach);
    MainSearch.push(PlatformSearch);
    MainSearch.push(Currency);

    index.search({
      query: myTx,
      hitsPerPage: 9,
      facetFilters: MainSearch,
      facets: ['make','series','subseries','years','platform']
    }).then(res => {

      var BrandText = ""
      var SeriesText = ""
      var SubSeriesText = ""
      var YearsText = ""
      var PlatformText = ""
      var manualBrand = res.facets['make'];
      var manualSeries = res.facets['series'];
      var manualSubseries = res.facets['subseries']
      var manualYears = res.facets['years']
      var manualPlatform = res.facets['platform']

      $.each( manualBrand, function( key, value ) {
        if($.inArray(key,BrandArray) != -1){
          BrandText += "<label class='container'>"+key+"<input type='checkbox' value='"+key+"' class='searchBrand mySearch' checked><span class='checkmark'></span></label>";
        }else{
          BrandText += "<label class='container'>"+key+"<input type='checkbox' value='"+key+"' class='searchBrand mySearch'><span class='checkmark'></span></label>";
        }
      });
      $("#myBrand").html(BrandText);

      $.each( manualSeries, function( key, value ) {
        if($.inArray(key,SeriesArray) != -1){
          SeriesText += "<label class='container'>"+key+"<input type='checkbox' value='"+key+"' class='searchSeries mySearch' checked><span class='checkmark'></span></label>";
        }else{
          SeriesText += "<label class='container'>"+key+"<input type='checkbox' value='"+key+"' class='searchSeries mySearch'><span class='checkmark'></span></label>";
        }
      });
      $("#mySeries").html(SeriesText);

      $.each( manualSubseries, function( key, value ) {
        if($.inArray(key,SubseriesArray) != -1){
          SubSeriesText += "<label class='container'>"+key+"<input type='checkbox' value='"+key+"' class='searchSubSeries mySearch' checked><span class='checkmark'></span></label>";
        }else{
          SubSeriesText += "<label class='container'>"+key+"<input type='checkbox' value='"+key+"' class='searchSubSeries mySearch'><span class='checkmark'></span></label>";
        }
      });
      $("#mySubseries").html(SubSeriesText);

      $.each( manualYears, function( key, value ) {
        if($.inArray(key,YearArray) != -1){
          YearsText += "<label class='container'>"+key+"<input type='checkbox' value='"+key+"' class='searchYears mySearch' checked><span class='checkmark'></span></label>";
        }else{
          YearsText += "<label class='container'>"+key+"<input type='checkbox' value='"+key+"' class='searchYears mySearch'><span class='checkmark'></span></label>";
        }
      });
      $("#myYears").html(YearsText);

      $.each( manualPlatform, function( key, value ) {
        if($.inArray(key,PlatformArray) != -1){
          PlatformText += "<label class='container'>"+key+"<input type='checkbox' value='"+key+"' class='searchPlatform mySearch' checked><span class='checkmark'></span></label>";
        }else{
          PlatformText += "<label class='container'>"+key+"<input type='checkbox' value='"+key+"' class='searchPlatform mySearch'><span class='checkmark'></span></label>";
        }
      });
      $("#myPlatform").html(PlatformText);

      var prodcuct = ""
      $.each(res.hits, function( i, val ){
        prodcuct += "<div class='pure-u-1 pure-u-md-1-3'>"+
          "<div class='productBox'>"+
            "<div class='productImage'>"+
              "<a href='{{$.Site.BaseURL}}{{.Lang}}/"+val['url']+"'><img src='"+val['catimage']+"' alt=''></a>"+
            "</div>"+
            "<div class='productDesc'>"+
              "<a href='{{$.Site.BaseURL}}{{.Lang}}/"+val['url']+"'>"+val['title']+"</a>"+
                "<div>"+
                  "<p style='float:left;font-weight:bold;'>"+
                    "Price: "+val['price']+""+
                  "</p>"+
                  "<p style='float:right;'>"+
                    "<a href='{{$.Site.BaseURL}}{{.Lang}}/"+val['url']+"' class='ProductBorderButton'>More Info</a>"+
                    "</p>"+
                "</div>"+
            "</div>"+
          "</div>"+
        "</div>";
      });
      $("#productData").html(prodcuct);

      var pagination = "<a id='PreviousPage' href='#'>&laquo;</a>"+
      "<a id='currentPage' data-id='0'>Page: 1 Of "+res['nbPages']+"</a>"+
      "<a id='NextPage' href='#'>&raquo;</a>";
      $("#MyPaginationHere").html(pagination);
    });
  }
});

$(document).on('click','#PreviousPage',function(){
  var page = $("#currentPage").data('id');
  var page = parseInt(page) -1;
  $("#currentPage").data('id', page)
  if(page > -1){
    var MainSearch = []
    var BrandSearch = [], BrandArray = [];
    var SeriesSearch = [], SeriesArray = [];
    var SubseriesSearch = [], SubseriesArray = [];
    var YearSerach = [], YearArray = [];
    var PlatformSearch = [], PlatformArray = [];
    var Currency = [];
    Currency.push("currency:"+myLang)
    if(searchBrand){
      BrandSearch.push("make:"+searchBrand);
      $('.searchBrand').each(function(){
        if (this.checked) {
          if(searchBrand == "Bmw"){
            BrandArray.push("BMW");
          }else{
            BrandArray.push(searchBrand);
          }
        }
      });
    }else{
      $('.searchBrand').each(function(){
        if (this.checked) {
          BrandSearch.push("make:"+$(this).val());
          BrandArray.push($(this).val());
        }
      });
    }
    $('.searchSeries').each(function(){
      if (this.checked) {
        SeriesSearch.push("series:"+$(this).val());
        SeriesArray.push($(this).val());
      }
    });
    $('.searchSubSeries').each(function(){
      if (this.checked) {
        SubseriesSearch.push("subseries:"+$(this).val());
        SubseriesArray.push($(this).val());
      }
    });
    $('.searchYears').each(function(){
      if (this.checked) {
        YearSerach.push("years:"+$(this).val());
        YearArray.push($(this).val());
      }
    });
    $('.searchPlatform').each(function(){
      if (this.checked) {
        PlatformSearch.push("platform:"+$(this).val());
        PlatformArray.push($(this).val());
      }
    });

    MainSearch.push(BrandSearch);
    MainSearch.push(SeriesSearch);
    MainSearch.push(SubseriesSearch);
    MainSearch.push(YearSerach);
    MainSearch.push(PlatformSearch);
    MainSearch.push(Currency);

    var searchvalue = $("#searchInput").val();
    index.search({
      query: searchvalue,
      hitsPerPage: 9,
      facetFilters: MainSearch,
      facets: ['make','series','subseries','years','platform'],
      page: page
    }).then(res => {
      console.log(res);
      var BrandText = ""
      var SeriesText = ""
      var SubSeriesText = ""
      var YearsText = ""
      var PlatformText = ""
      var manualBrand = res.facets['make'];
      var manualSeries = res.facets['series'];
      var manualSubseries = res.facets['subseries']
      var manualYears = res.facets['years']
      var manualPlatform = res.facets['platform']

      $.each( manualBrand, function( key, value ) {
        if($.inArray(key,BrandArray) != -1){
          BrandText += "<label class='container'>"+key+"<input type='checkbox' value='"+key+"' class='searchBrand mySearch' checked><span class='checkmark'></span></label>";
        }else{
          BrandText += "<label class='container'>"+key+"<input type='checkbox' value='"+key+"' class='searchBrand mySearch'><span class='checkmark'></span></label>";
        }
      });
      $("#myBrand").html(BrandText);

      $.each( manualSeries, function( key, value ) {
        if($.inArray(key,SeriesArray) != -1){
          SeriesText += "<label class='container'>"+key+"<input type='checkbox' value='"+key+"' class='searchSeries mySearch' checked><span class='checkmark'></span></label>";
        }else{
          SeriesText += "<label class='container'>"+key+"<input type='checkbox' value='"+key+"' class='searchSeries mySearch'><span class='checkmark'></span></label>";
        }
      });
      $("#mySeries").html(SeriesText);

      $.each( manualSubseries, function( key, value ) {
        if($.inArray(key,SubseriesArray) != -1){
          SubSeriesText += "<label class='container'>"+key+"<input type='checkbox' value='"+key+"' class='searchSubSeries mySearch' checked><span class='checkmark'></span></label>";
        }else{
          SubSeriesText += "<label class='container'>"+key+"<input type='checkbox' value='"+key+"' class='searchSubSeries mySearch'><span class='checkmark'></span></label>";
        }
      });
      $("#mySubseries").html(SubSeriesText);

      $.each( manualYears, function( key, value ) {
        if($.inArray(key,YearArray) != -1){
          YearsText += "<label class='container'>"+key+"<input type='checkbox' value='"+key+"' class='searchYears mySearch' checked><span class='checkmark'></span></label>";
        }else{
          YearsText += "<label class='container'>"+key+"<input type='checkbox' value='"+key+"' class='searchYears mySearch'><span class='checkmark'></span></label>";
        }
      });
      $("#myYears").html(YearsText);

      $.each( manualPlatform, function( key, value ) {
        if($.inArray(key,PlatformArray) != -1){
          PlatformText += "<label class='container'>"+key+"<input type='checkbox' value='"+key+"' class='searchPlatform mySearch' checked><span class='checkmark'></span></label>";
        }else{
          PlatformText += "<label class='container'>"+key+"<input type='checkbox' value='"+key+"' class='searchPlatform mySearch'><span class='checkmark'></span></label>";
        }
      });
      $("#myPlatform").html(PlatformText);
      if(res.hits.length == 0){
        alert("You Reached Minimum Number of Page")
      }else{
        var prodcuct = ""
        $.each(res.hits, function( i, val ){
          prodcuct += "<div class='pure-u-1 pure-u-md-1-3'>"+
            "<div class='productBox'>"+
              "<div class='productImage'>"+
                "<a href='{{$.Site.BaseURL}}{{.Lang}}/"+val['url']+"'><img src='"+val['catimage']+"' alt=''></a>"+
              "</div>"+
              "<div class='productDesc'>"+
                "<a href='{{$.Site.BaseURL}}{{.Lang}}/"+val['url']+"'>"+val['title']+"</a>"+
                  "<div>"+
                    "<p style='float:left;font-weight:bold;'>"+
                      "Price: "+val['price']+""+
                    "</p>"+
                    "<p style='float:right;'>"+
                      "<a href='{{$.Site.BaseURL}}{{.Lang}}/"+val['url']+"' class='ProductBorderButton'>More Info</a>"+
                      "</p>"+
                  "</div>"+
              "</div>"+
            "</div>"+
          "</div>";
        });
        $("#productData").html(prodcuct);
      }
      var pagination = "<a id='PreviousPage'>&laquo;</a>"+
      "<a id='currentPage' data-id='"+res['page']+"'>Page: "+res['page']+" Of "+res['nbPages']+"</a>"+
      "<a id='NextPage' class='active'>&raquo;</a>";
      $("#MyPaginationHere").html(pagination);
    });
  }else {
    alert("You Reached Minimum Number of Page");
  }
});

$(document).on('click','#NextPage',function(){
  var page = $("#currentPage").data('id');
  var page = parseInt(page) +1;
  $("#currentPage").data('id', page)
  if(page > 0){
    var MainSearch = []
    var BrandSearch = [], BrandArray = [];
    var SeriesSearch = [], SeriesArray = [];
    var SubseriesSearch = [], SubseriesArray = [];
    var YearSerach = [], YearArray = [];
    var PlatformSearch = [], PlatformArray = [];
    var Currency = [];
    Currency.push("currency:"+myLang)

    if(searchBrand){
      BrandSearch.push("make:"+searchBrand);
      $('.searchBrand').each(function(){
        if (this.checked) {
          if(searchBrand == "Bmw"){
            BrandArray.push("BMW");
          }else{
            BrandArray.push(searchBrand);
          }
        }
      });
    }else{
      $('.searchBrand').each(function(){
        if (this.checked) {
          BrandSearch.push("make:"+$(this).val());
          BrandArray.push($(this).val());
        }
      });
    }
    $('.searchSeries').each(function(){
      if (this.checked) {
        SeriesSearch.push("series:"+$(this).val());
        SeriesArray.push($(this).val());
      }
    });
    $('.searchSubSeries').each(function(){
      if (this.checked) {
        SubseriesSearch.push("subseries:"+$(this).val());
        SubseriesArray.push($(this).val());
      }
    });
    $('.searchYears').each(function(){
      if (this.checked) {
        YearSerach.push("years:"+$(this).val());
        YearArray.push($(this).val());
      }
    });
    $('.searchPlatform').each(function(){
      if (this.checked) {
        PlatformSearch.push("platform:"+$(this).val());
        PlatformArray.push($(this).val());
      }
    });

    MainSearch.push(BrandSearch);
    MainSearch.push(SeriesSearch);
    MainSearch.push(SubseriesSearch);
    MainSearch.push(YearSerach);
    MainSearch.push(PlatformSearch);
    MainSearch.push(Currency);
    var searchvalue = $("#searchInput").val();
    index.search({
      query: searchvalue,
      hitsPerPage: 9,
      facetFilters: MainSearch,
      facets: ['make','series','subseries','years','platform'],
      page: page
    }).then(res => {
      console.log(res);
      var BrandText = ""
      var SeriesText = ""
      var SubSeriesText = ""
      var YearsText = ""
      var PlatformText = ""
      var manualBrand = res.facets['make'];
      var manualSeries = res.facets['series'];
      var manualSubseries = res.facets['subseries']
      var manualYears = res.facets['years']
      var manualPlatform = res.facets['platform']

      $.each( manualBrand, function( key, value ) {
        if($.inArray(key,BrandArray) != -1){
          BrandText += "<label class='container'>"+key+"<input type='checkbox' value='"+key+"' class='searchBrand mySearch' checked><span class='checkmark'></span></label>";
        }else{
          BrandText += "<label class='container'>"+key+"<input type='checkbox' value='"+key+"' class='searchBrand mySearch'><span class='checkmark'></span></label>";
        }
      });
      $("#myBrand").html(BrandText);

      $.each( manualSeries, function( key, value ) {
        if($.inArray(key,SeriesArray) != -1){
          SeriesText += "<label class='container'>"+key+"<input type='checkbox' value='"+key+"' class='searchSeries mySearch' checked><span class='checkmark'></span></label>";
        }else{
          SeriesText += "<label class='container'>"+key+"<input type='checkbox' value='"+key+"' class='searchSeries mySearch'><span class='checkmark'></span></label>";
        }
      });
      $("#mySeries").html(SeriesText);

      $.each( manualSubseries, function( key, value ) {
        if($.inArray(key,SubseriesArray) != -1){
          SubSeriesText += "<label class='container'>"+key+"<input type='checkbox' value='"+key+"' class='searchSubSeries mySearch' checked><span class='checkmark'></span></label>";
        }else{
          SubSeriesText += "<label class='container'>"+key+"<input type='checkbox' value='"+key+"' class='searchSubSeries mySearch'><span class='checkmark'></span></label>";
        }
      });
      $("#mySubseries").html(SubSeriesText);

      $.each( manualYears, function( key, value ) {
        if($.inArray(key,YearArray) != -1){
          YearsText += "<label class='container'>"+key+"<input type='checkbox' value='"+key+"' class='searchYears mySearch' checked><span class='checkmark'></span></label>";
        }else{
          YearsText += "<label class='container'>"+key+"<input type='checkbox' value='"+key+"' class='searchYears mySearch'><span class='checkmark'></span></label>";
        }
      });
      $("#myYears").html(YearsText);

      $.each( manualPlatform, function( key, value ) {
        if($.inArray(key,PlatformArray) != -1){
          PlatformText += "<label class='container'>"+key+"<input type='checkbox' value='"+key+"' class='searchPlatform mySearch' checked><span class='checkmark'></span></label>";
        }else{
          PlatformText += "<label class='container'>"+key+"<input type='checkbox' value='"+key+"' class='searchPlatform mySearch'><span class='checkmark'></span></label>";
        }
      });
      $("#myPlatform").html(PlatformText);
      if(res.hits.length == 0){
        alert("You Reached Maximum Number of Page")
      }else{
        var prodcuct = ""
        $.each(res.hits, function( i, val ){
          prodcuct += "<div class='pure-u-1 pure-u-md-1-3'>"+
            "<div class='productBox'>"+
              "<div class='productImage'>"+
                "<a href='{{$.Site.BaseURL}}{{.Lang}}/"+val['url']+"'><img src='"+val['catimage']+"' alt=''></a>"+
              "</div>"+
              "<div class='productDesc'>"+
                "<a href='{{$.Site.BaseURL}}{{.Lang}}/"+val['url']+"'>"+val['title']+"</a>"+
                  "<div>"+
                    "<p style='float:left;font-weight:bold;'>"+
                      "Price: "+val['price']+""+
                    "</p>"+
                    "<p style='float:right;'>"+
                      "<a href='{{$.Site.BaseURL}}{{.Lang}}/"+val['url']+"' class='ProductBorderButton'>More Info</a>"+
                      "</p>"+
                  "</div>"+
              "</div>"+
            "</div>"+
          "</div>";
        });
        var pagination = "<a id='PreviousPage'>&laquo;</a>"+
        "<a id='currentPage' data-id='"+res['page']+"'>Page: "+res['page']+" Of "+res['nbPages']+"</a>"+
        "<a id='NextPage' class='active'>&raquo;</a>";
        $("#MyPaginationHere").html(pagination);
      }
    });
  }else{
    alert("You Reached Maximum Number of Page")
  }
});

$(document).on('keyup', '#searchInput', function(){
  if(searchBrand){
    var MainSearch = []
    var BrandSearch = [], BrandArray = [];
    var SeriesSearch = [], SeriesArray = [];
    var SubseriesSearch = [], SubseriesArray = [];
    var YearSerach = [], YearArray = [];
    var PlatformSearch = [], PlatformArray = [];
    var Currency = [];
    Currency.push("currency:"+myLang)
    BrandSearch.push("make:"+searchBrand);
    $('.searchSeries').each(function(){
      if (this.checked) {
        SeriesSearch.push("series:"+$(this).val());
        SeriesArray.push($(this).val());
      }
    });
    $('.searchSubSeries').each(function(){
      if (this.checked) {
        SubseriesSearch.push("subseries:"+$(this).val());
        SubseriesArray.push($(this).val());
      }
    });
    $('.searchYears').each(function(){
      if (this.checked) {
        YearSerach.push("years:"+$(this).val());
        YearArray.push($(this).val());
      }
    });
    $('.searchPlatform').each(function(){
      if (this.checked) {
        PlatformSearch.push("platform:"+$(this).val());
        PlatformArray.push($(this).val());
      }
    });
    var searchvalue = $(this).val();
    MainSearch.push(BrandSearch);
    MainSearch.push(SeriesSearch);
    MainSearch.push(SubseriesSearch);
    MainSearch.push(YearSerach);
    MainSearch.push(PlatformSearch);
    MainSearch.push(Currency);
    index.search({
      query: searchvalue,
      hitsPerPage: 9,
      facetFilters: MainSearch,
      facets: ['make','series','subseries','years','platform']
    }).then(res => {
      console.log(res);
      var BrandText = ""
      var SeriesText = ""
      var SubSeriesText = ""
      var YearsText = ""
      var PlatformText = ""
      var manualBrand = res.facets['make'];
      var manualSeries = res.facets['series'];
      var manualSubseries = res.facets['subseries']
      var manualYears = res.facets['years']
      var manualPlatform = res.facets['platform']

      $.each( manualBrand, function( key, value ) {
        if($.inArray(key,BrandArray) != -1){
          BrandText += "<label class='container'>"+key+"<input type='checkbox' value='"+key+"' class='searchBrand mySearch' checked><span class='checkmark'></span></label>";
        }else{
          BrandText += "<label class='container'>"+key+"<input type='checkbox' value='"+key+"' class='searchBrand mySearch'><span class='checkmark'></span></label>";
        }
      });
      $("#myBrand").html(BrandText);

      $.each( manualSeries, function( key, value ) {
        if($.inArray(key,SeriesArray) != -1){
          SeriesText += "<label class='container'>"+key+"<input type='checkbox' value='"+key+"' class='searchSeries mySearch' checked><span class='checkmark'></span></label>";
        }else{
          SeriesText += "<label class='container'>"+key+"<input type='checkbox' value='"+key+"' class='searchSeries mySearch'><span class='checkmark'></span></label>";
        }
      });
      $("#mySeries").html(SeriesText);

      $.each( manualSubseries, function( key, value ) {
        if($.inArray(key,SubseriesArray) != -1){
          SubSeriesText += "<label class='container'>"+key+"<input type='checkbox' value='"+key+"' class='searchSubSeries mySearch' checked><span class='checkmark'></span></label>";
        }else{
          SubSeriesText += "<label class='container'>"+key+"<input type='checkbox' value='"+key+"' class='searchSubSeries mySearch'><span class='checkmark'></span></label>";
        }
      });
      $("#mySubseries").html(SubSeriesText);

      $.each( manualYears, function( key, value ) {
        if($.inArray(key,YearArray) != -1){
          YearsText += "<label class='container'>"+key+"<input type='checkbox' value='"+key+"' class='searchYears mySearch' checked><span class='checkmark'></span></label>";
        }else{
          YearsText += "<label class='container'>"+key+"<input type='checkbox' value='"+key+"' class='searchYears mySearch'><span class='checkmark'></span></label>";
        }
      });
      $("#myYears").html(YearsText);

      $.each( manualPlatform, function( key, value ) {
        if($.inArray(key,PlatformArray) != -1){
          PlatformText += "<label class='container'>"+key+"<input type='checkbox' value='"+key+"' class='searchPlatform mySearch' checked><span class='checkmark'></span></label>";
        }else{
          PlatformText += "<label class='container'>"+key+"<input type='checkbox' value='"+key+"' class='searchPlatform mySearch'><span class='checkmark'></span></label>";
        }
      });
      $("#myPlatform").html(PlatformText);
      if(res.hits.length == 0){
        alert("No Search Found")
      }else{
        var prodcuct = ""
        $.each(res.hits, function( i, val ){
          prodcuct += "<div class='pure-u-1 pure-u-md-1-3'>"+
            "<div class='productBox'>"+
              "<div class='productImage'>"+
                "<a href='{{$.Site.BaseURL}}{{.Lang}}/"+val['url']+"'><img src='"+val['catimage']+"' alt=''></a>"+
              "</div>"+
              "<div class='productDesc'>"+
                "<a href='{{$.Site.BaseURL}}{{.Lang}}/"+val['url']+"'>"+val['title']+"</a>"+
                  "<div>"+
                    "<p style='float:left;font-weight:bold;'>"+
                      "Price: "+val['price']+""+
                    "</p>"+
                    "<p style='float:right;'>"+
                      "<a href='{{$.Site.BaseURL}}{{.Lang}}/"+val['url']+"' class='ProductBorderButton'>More Info</a>"+
                      "</p>"+
                  "</div>"+
              "</div>"+
            "</div>"+
          "</div>";
        });
        $("#productData").html(prodcuct);
      }
      var pagination = "<a id='PreviousPage'>&laquo;</a>"+
      "<a id='currentPage' data-id='"+res['page']+"'>Page: 1 Of "+res['nbPages']+"</a>"+
      "<a id='NextPage' class='active'>&raquo;</a>";
      $("#MyPaginationHere").html(pagination);
    });
  }else{
    var MainSearch = []
    var BrandSearch = [], BrandArray = [];
    var SeriesSearch = [], SeriesArray = [];
    var SubseriesSearch = [], SubseriesArray = [];
    var YearSerach = [], YearArray = [];
    var PlatformSearch = [], PlatformArray = [];
    var Currency = [];
    Currency.push("currency:"+myLang)
    $('.searchBrand').each(function(){
      if (this.checked) {
        BrandSearch.push("make:"+$(this).val());
        BrandArray.push($(this).val());
      }
    });
    $('.searchSeries').each(function(){
      if (this.checked) {
        SeriesSearch.push("series:"+$(this).val());
        SeriesArray.push($(this).val());
      }
    });
    $('.searchSubSeries').each(function(){
      if (this.checked) {
        SubseriesSearch.push("subseries:"+$(this).val());
        SubseriesArray.push($(this).val());
      }
    });
    $('.searchYears').each(function(){
      if (this.checked) {
        YearSerach.push("years:"+$(this).val());
        YearArray.push($(this).val());
      }
    });
    $('.searchPlatform').each(function(){
      if (this.checked) {
        PlatformSearch.push("platform:"+$(this).val());
        PlatformArray.push($(this).val());
      }
    });
    var searchvalue = $(this).val();
    MainSearch.push(BrandSearch);
    MainSearch.push(SeriesSearch);
    MainSearch.push(SubseriesSearch);
    MainSearch.push(YearSerach);
    MainSearch.push(PlatformSearch);
    MainSearch.push(Currency);
    index.search({
      query: searchvalue,
      hitsPerPage: 9,
      facetFilters: MainSearch,
      facets: ['make','series','subseries','years','platform']
    }).then(res => {
      console.log(res);
      var BrandText = ""
      var SeriesText = ""
      var SubSeriesText = ""
      var YearsText = ""
      var PlatformText = ""
      var manualBrand = res.facets['make'];
      var manualSeries = res.facets['series'];
      var manualSubseries = res.facets['subseries']
      var manualYears = res.facets['years']
      var manualPlatform = res.facets['platform']

      $.each( manualBrand, function( key, value ) {
        if($.inArray(key,BrandArray) != -1){
          BrandText += "<label class='container'>"+key+"<input type='checkbox' value='"+key+"' class='searchBrand mySearch' checked><span class='checkmark'></span></label>";
        }else{
          BrandText += "<label class='container'>"+key+"<input type='checkbox' value='"+key+"' class='searchBrand mySearch'><span class='checkmark'></span></label>";
        }
      });
      $("#myBrand").html(BrandText);

      $.each( manualSeries, function( key, value ) {
        if($.inArray(key,SeriesArray) != -1){
          SeriesText += "<label class='container'>"+key+"<input type='checkbox' value='"+key+"' class='searchSeries mySearch' checked><span class='checkmark'></span></label>";
        }else{
          SeriesText += "<label class='container'>"+key+"<input type='checkbox' value='"+key+"' class='searchSeries mySearch'><span class='checkmark'></span></label>";
        }
      });
      $("#mySeries").html(SeriesText);

      $.each( manualSubseries, function( key, value ) {
        if($.inArray(key,SubseriesArray) != -1){
          SubSeriesText += "<label class='container'>"+key+"<input type='checkbox' value='"+key+"' class='searchSubSeries mySearch' checked><span class='checkmark'></span></label>";
        }else{
          SubSeriesText += "<label class='container'>"+key+"<input type='checkbox' value='"+key+"' class='searchSubSeries mySearch'><span class='checkmark'></span></label>";
        }
      });
      $("#mySubseries").html(SubSeriesText);

      $.each( manualYears, function( key, value ) {
        if($.inArray(key,YearArray) != -1){
          YearsText += "<label class='container'>"+key+"<input type='checkbox' value='"+key+"' class='searchYears mySearch' checked><span class='checkmark'></span></label>";
        }else{
          YearsText += "<label class='container'>"+key+"<input type='checkbox' value='"+key+"' class='searchYears mySearch'><span class='checkmark'></span></label>";
        }
      });
      $("#myYears").html(YearsText);

      $.each( manualPlatform, function( key, value ) {
        if($.inArray(key,PlatformArray) != -1){
          PlatformText += "<label class='container'>"+key+"<input type='checkbox' value='"+key+"' class='searchPlatform mySearch' checked><span class='checkmark'></span></label>";
        }else{
          PlatformText += "<label class='container'>"+key+"<input type='checkbox' value='"+key+"' class='searchPlatform mySearch'><span class='checkmark'></span></label>";
        }
      });
      $("#myPlatform").html(PlatformText);
      if(res.hits.length == 0){
        alert("No Search Found")
      }else{
        var prodcuct = ""
        $.each(res.hits, function( i, val ){
          prodcuct += "<div class='pure-u-1 pure-u-md-1-3'>"+
            "<div class='productBox'>"+
              "<div class='productImage'>"+
                "<a href='{{$.Site.BaseURL}}{{.Lang}}/"+val['url']+"'><img src='"+val['catimage']+"' alt=''></a>"+
              "</div>"+
              "<div class='productDesc'>"+
                "<a href='{{$.Site.BaseURL}}{{.Lang}}/"+val['url']+"'>"+val['title']+"</a>"+
                  "<div>"+
                    "<p style='float:left;font-weight:bold;'>"+
                      "Price: "+val['price']+""+
                    "</p>"+
                    "<p style='float:right;'>"+
                      "<a href='{{$.Site.BaseURL}}{{.Lang}}/"+val['url']+"' class='ProductBorderButton'>More Info</a>"+
                      "</p>"+
                  "</div>"+
              "</div>"+
            "</div>"+
          "</div>";
        });
        $("#productData").html(prodcuct);
      }
      var pagination = "<a id='PreviousPage'>&laquo;</a>"+
      "<a id='currentPage' data-id='"+res['page']+"'>Page: 1 Of "+res['nbPages']+"</a>"+
      "<a id='NextPage' class='active'>&raquo;</a>";
      $("#MyPaginationHere").html(pagination);
    });
  }
});
</script>
