<div class="FilterArea">
	<header>
		<h5 class="headerFilter">Filter</h5>
		<div class="pure-g serachBox">
			<div class="pure-u-1">
				<form class="pure-form">
					<input class="pure-input-1 pure-input-rounded" type="text" id="searchInput" placeholder="Search by Title" >
				</form>
			</div>
		</div>
	</header>
	<div class="Brand">
		<h5 class="FilterTitle">Brand</h5>
		<div id="myBrand">

		</div>
	</div>
	<div class="Brand">
		<h5 class="FilterTitle">Series</h5>
		<div id="mySeries">

		</div>
	</div>
	<div class="Brand">
		<h5 class="FilterTitle">Sub Series</h5>
		<div id="mySubseries">

		</div>
	</div>
	<div class="Brand">
		<h5 class="FilterTitle">Years</h5>
		<div id="myYears">

		</div>
	</div>
	<div class="Brand">
		<h5 class="FilterTitle">Platform</h5>
		<div id="myPlatform">

		</div>
	</div>
</div>
