      <div class="footerLayout">
        <div class="pure-g" style="text-align:center;">
            <div class="pure-u-1 pure-u-md-1-3">
              <h4>Footer Layout 1</h4>
            </div>
            <div class="pure-u-1 pure-u-md-1-3">
              <h4>Footer Layout 2</h4>
            </div>
            <div class="pure-u-1 pure-u-md-1-3">
              <h4>Footer Layout 3</h4>
            </div>
        </div>
      </div>
    </div>
  </div>
<script src="{{ .Site.BaseURL }}js/ui.js"></script>
</body>
</html>
