
        </div>
    </div>
  <div class="pure-u-1-24 myContentCell" style=""></div>
</div>
<div class="footerLayout">
  <div class="pure-g">
    <div class="pure-u-1-24 subChangeLayoutFoot" style=""></div>
      <div class="pure-u-22-24">
        <div class="pure-g" style="padding:20px;">
            <div class="pure-u-1 pure-u-md-1-4">
              <h4><span class="BlueText">Car Makes</h4>
                <div class="pure-menu custom-restricted-width CarMakes">
                    <ul>
                      {{ $gistJ := getJSON "/data/makes.json" }}
                      {{$myLang := .Lang}}
                      {{ if eq $myLang "usd"}}
                      {{ range $gistJ }}
                        <li><a href="/makes/{{.url}}">{{.make}}</a></li>
                      <!-- <li class="pure-menu-item subMenuItem"><a href="/makes/{{.url}}" class="pure-menu-link myElement">{{.make}}</a></li> -->
                      {{end}}
                      {{else}}
                      {{ range $gistJ }}
                        <li><a href="/{{$myLang}}/makes/{{.url}}">{{.make}}</a></li>
                      {{end}}
                      {{end}}
                    </ul>
                </div>
            </div>
            <div class="pure-u-1 pure-u-md-1-4">
              <h4><span class="BlueText">Quick Links</h4>
                <div class="pure-menu custom-restricted-width CarMakes">
                    <ul>
                      {{ range .Site.Pages.ByWeight }}
                        {{ if eq .Type "mypage" }}
                          <li><a href="{{.Permalink}}">{{.Title}}</a></li>
                        {{ end }}
                      {{ end }}
                    </ul>
                </div>
            </div>
            <div class="pure-u-1 pure-u-md-1-4 hasFootul" >
              {{ if isset .Params "addtocart" }}
                <h4><span class="BlueText">Add to Cart</h4>
                  {{.Params.addtocart | markdownify}}
              {{ else }}
                <h4><span class="BlueText">Footer 3</h4>
              {{end}}
              <!-- <h4><span class="BlueText">Add to Cart</h4>
              <ul>
                <li>Instant access to your download</li>
                <li>No hidden fees</li>
                <li>Manual can be used for life</li>
                <li>No need to renew or pay any extra</li>
              </ul> -->
            </div>
            <div class="pure-u-1 pure-u-md-1-4" style="text-align:left;">
              <h4>
                Currency:&nbsp;
                <select id="state" style="color:black;">
                    <option value="usd">USD</option>
                    <option value="aud">AUD</option>
                    <option value="cad">CAD</option>
                    <option value="chf">CHF</option>
                    <option value="eur">EUR</option>
                    <option value="gbp">GBP</option>
                    <option value="hkd">HKD</option>
                    <option value="inr">INR</option>
                    <option value="nzd">NZD</option>
                    <option value="sgd">SGD</option>
                    <option value="zar">ZAR</option>
                </select>
              </h4>
            </div>
        </div>
      </div>
    <div class="pure-u-1-24 subChangeLayoutFoot" style=""></div>
  </div>
</div>
</div>
  <script src="{{ .Site.BaseURL }}js/ui.js"></script>
  <input type="hidden" id="myBaseUrl" value="{{$.Site.BaseURL}}">
  <input type="hidden" id="myLang" value="{{ .Lang }}">
  <script type="text/javascript">
    $(document).ready(function(){
      var myLang = $("#myLang").val();
      $("#state").val(myLang)
      $("#state").change(function(){
        window.location.href = $("#myBaseUrl").val()+$(this).val();
      });
    });
  </script>
</body>
</html>
