<!DOCTYPE html>
<html lang="en">

{{ partial "head.html" . }}

<body>
  <div class="mainLayout">
    <div class="pure-g mainMenu">
        <div class="mainMenuLayout pure-u-20-24">
          {{ partial "mainmenu.html" .}}
        </div>
    </div>
    <div class="pure-g subMenu">
        <div class="pure-u-2-24 subChangeLayout" style=""></div>
        <div class="pure-u-20-24">
            {{partial "subMenu.html" .}}
        </div>
        <div class="pure-u-2-24 subChangeLayout"></div>
    </div>
    <div class="contentLayout">
      <div class="MainHeaderLayout">
        <h2 id="HeaderTitle">
          {{ .Site.Title }}
        </h2>
      </div>
