<!DOCTYPE html>
<html lang="en">

{{ partial "head.html" . }}

<body>
  <div class="mainLayout">
    <div class="pure-g mainMenu">
        <div class="mainMenuLayout pure-u-22-24">
          {{ partial "mainmenu.html" .}}
        </div>
    </div>
    <div class="pure-g subMenu">
        <div class="pure-u-1-24 subChangeLayout" style=""></div>
        <div class="pure-u-22-24">
            {{partial "subMenu.html" .}}
        </div>
        <div class="pure-u-1-24 subChangeLayout"></div>
    </div>
    <div class="pure-g BetMenu myContainer">
        <div class="pure-u-1-24" style="height:200px;"></div>
        <div class="pure-u-22-24">
            {{partial "Betmenu.html" .}}
        </div>
        <div class="pure-u-1-24" style="height:200px;"></div>
    </div>
    <div class="pure-g subMenu1 myContainer">
        <div class="pure-u-1-24 subChangeLayout" style=""></div>
        <div class="pure-u-22-24">
            {{partial "subMenu.html" .}}
        </div>
        <div class="pure-u-1-24 subChangeLayout"></div>
    </div>
    <div class="pure-g">
        <div class="pure-u-1-24 myContentCell" style=""></div>
        <div class="pure-u-22-24">
          <div class="contentLayout myContainer">
            <div class="MainHeaderLayout">
              <h2 id="HeaderTitle">
                Carmanuls Lib
              </h2>
            </div>
