<div class="main">
  <div class="leftAlgolia">
    {{ partial "filter.html" .}}
  </div>
  <div class="rightProduct">
    <div class="pure-g" id="productData">
        {{range .Data.Pages}}
          {{if eq .Type "manual"}}
            <div class="pure-u-1 pure-u-md-1-3">
              <div class="productBox">
                <div class="productImage">
                  <a href="{{.Permalink}}"><img src="{{.Params.catimage}}" alt=""></a>
                </div>
                <div class="productDesc">
                  <a href="{{.Permalink}}">{{.Params.manualname}}</a><br>
                  Rating: {{ $empty := sub 5 .Params.overallrate }}
                  {{range seq .Params.overallrate}}
                    <span class='myStart'><i class='fa fa-star' aria-hidden='true'></i></span>
                  {{end}}
                  {{range seq $empty}}
                    <span class='empty-myStart'><i class='fa fa-star' aria-hidden='true'></i></span>
                  {{end}}
                  <ul>
                      <li>Make: {{.Params.makes}}</li>
                      <li>Series: {{.Params.series}}</li>
                      <li>Subseries: {{.Params.subseries}}</li>
                      <li>Platform: {{.Params.platform}}</li>
                      <li>Year: {{.Params.years}}</li>
                  </ul>

                  <a href="{{.Permalink}}" class="ProductBorderButton">Price: {{.Params.sendowlprice}}</a>
                </div>
              </div>
            </div>
          {{end}}
        {{end}}
    </div>
    <div class="myPagination">
      <div class="pagination" id="MyPaginationHere">

      </div>
    </div>
  </div>
</div>
{{partial "filter_js.html" .}}
