<div class="custom-wrapper pure-g" id="menu">
    <div class="pure-u-1 pure-u-md-1-3">
        <div class="custom-brand">
            <a href="{{$.Site.BaseURL}}" class="pure-menu-heading">{{ $.Site.Title }}</a>
            <a href="#" class="custom-toggle" id="toggle" ><s class="bar"></s><s class="bar"></s></a>
        </div>
    </div>
    <div class="pure-u-1 pure-u-md-1-3">
    </div>
    <div class="pure-u-1 pure-u-md-1-3">
        <div class="pure-menu pure-menu-horizontal custom-menu-3 custom-can-transform">
            <ul class="pure-menu-list myMainMenu">
                <li class="pure-menu-item"><a href="#" class="">Yahoo</a></li>
                <li class="pure-menu-item"><a href="#" class="">W3C</a></li>
            </ul>
        </div>
    </div>
</div>
