<div class="main">
  <div class="leftAlgolia">
    {{ partial "filter.html" .}}
  </div>
  <div class="rightProduct">
    <div class="pure-g" id="productData">
        {{range .Data.Pages}}
          {{if eq .Type "manual"}}
            <div class="pure-u-1 pure-u-md-1-3">
              <div class="productBox">
                <div class="productImage">
                  <a href="{{.Permalink}}"><img src="{{.Params.catimage}}" class="pure-img-responsive" alt=""></a>
                </div>
                <div class="productDesc">
                  <a href="{{.Permalink}}">{{ .Title }}</a>
                  <div class="">
                    <p style="float:left;font-weight:bold;font-size:20px;" class="BlueText">
                      {{.Params.sendowlprice}}
                    </p>
                    <p style="float:right;">
                      <a href="{{.Permalink}}" class="ProductBorderButton">More Info</a>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          {{end}}
        {{end}}
    </div>
    <div class="myPagination">
      <div class="pagination" id="MyPaginationHere">

      </div>
    </div>
  </div>
</div>
{{partial "filter_js.html" .}}
