<div class="mainContentLayout">
  <div class="productLayout" style="margin-top:20px;">
      <!-- <h3 class="productTitle">{{.Title}}</h3> -->
      <div class="productImageArea">
        <div class="ImageArea">
          <img src="{{.Params.proimage}}" class="pure-img-responsive" alt="">
        </div>
        <div class="SendowlArea" style="">
          <!-- <div class="CurrencyArea">
              <h4 class="productTitle"><span class="BlueText">Over all Rating: </span>
                {{ $empty := sub 5 .Params.overallrate }}
                {{range seq .Params.overallrate}}
                  <span class='myStart'><i class='fa fa-star' aria-hidden='true'></i></span>
                {{end}}
                {{range seq $empty}}
                  <span class='empty-myStart'><i class='fa fa-star' aria-hidden='true'></i></span>
                {{end}}
              </h4>
          </div> -->
          <div class="CurrencyArea">
            <h3 class="productTitle">{{.Params.cptitle}}</h3>
          </div>
          <div class="CurrencyArea">
              <h4 class="productTitle"><span class="BlueText">Over all Rating: </span>
                {{ $empty := sub 5 .Params.overallrate }}
                {{range seq .Params.overallrate}}
                  <span class='myStart'><i class='fa fa-star' aria-hidden='true'></i></span>
                {{end}}
                {{range seq $empty}}
                  <span class='empty-myStart'><i class='fa fa-star' aria-hidden='true'></i></span>
                {{end}}
              </h4>
          </div>
          <div class="CurrencyArea">
            <div class="Currency" style="margin-top:0px;">
              <h4 style="margin:0;padding:0;" class="productTitle"><span class="BlueText" style="font-size:larger;">Price: </span>{{.Params.sendowlprice}}</h4>
            </div>
            <div class="Rating" style="color:black;margin-top:0px;">
              <h4 style="margin:0;padding:0;" class="productTitle"><span class="BlueText" style="font-size:larger;">Manual Status: </span>{{.Params.manualstatus}}</h4>
            </div>
          </div>
          <div class="sendOwl" style="clear:both;">
            {{.Params.sendowl | safeHTML }}
          </div>
          <div class="addToCart">
            {{.Params.addtocart | markdownify}}
          </div>
          <!--Car Spec-->
        </div>
      </div>
  </div>
</div>
<div class="ManArea" style="margin-top:20px;">
  <div class="productLayout">
    <div class="MannProp">
      <div class="ManualArea">
        <h3 class="BlueText">Manual Specification</h3>
        <table>
          <tr>
            <th>Manual Type:</th>
            <th>{{.Params.mstype}}</th>
          </tr>
          <tr>
            <th>No. of Pages:</th>
            <th>{{.Params.mspages}}</th>
          </tr>
          <tr>
            <th>File Size:</th>
            <th>{{.Params.msfilesize}}</th>
          </tr>
          <tr>
            <th>Format:</th>
            <th>{{.Params.msformat}}</th>
          </tr>
          <tr>
            <th>Language:</th>
            <th>{{.Params.mslanguage}}</th>
          </tr>
          <tr>
            <th>Suitable for:</th>
            <th>{{.Params.mssuitable}}</th>
          </tr>
        </table>
      </div>
      <div class="PropsCons">
        <h3 class="BlueText">Car Specification</h3>
        <div class="carSpecification">
          <table>
            <tr>
              <th>Make:</th>
              <th>{{.Params.makes}}</th>
            </tr>
            <tr>
              <th>Series:</th>
              <th>{{.Params.series}}</th>
            </tr>
            <tr>
              <th>Sub Series:</th>
              <th>{{.Params.subseries}}</th>
            </tr>
            <tr>
              <th>Platform:</th>
              <th>{{.Params.platform}}</th>
            </tr>
            <tr>
              <th>Year:</th>
              <th>{{.Params.years}}</th>
            </tr>
            <tr>
              <th>Bodytype:</th>
              <th>{{range .Params.carspecs.carspecbodytype}}
                {{ .partialbodytypename }},
              {{end}}</th>
            </tr>
            <tr>
              <th>Fueltype:</th>
              <th>{{.Params.fueltype}}</th>
            </tr>
          </table>
        </div>
        <!-- <div class="Props">
          {{.Params.manualporp | markdownify}}
        </div>
        <div class="Cons">
          {{.Params.manualcons | markdownify}}
        </div> -->
      </div>
    </div>
  </div>
</div>
<div class="ManArea" style="margin-top:20px;">
  <div class="productLayout">
    <h3 class="BlueText">{{.Title}}</h3>
    <div class="ManualDescription">
      {{.Params.manualdescription | markdownify}}
    </div>
    <div class="ModelsEngCover">
      {{.Params.manualengcover | markdownify}}
    </div>
    <div class="ModelsEngCover">
      {{.Params.manualcover | markdownify}}
    </div>
  </div>
</div>
<div class="ManArea" style="margin-top:20px;">
  <div class="productLayout">
    <div class="MannProp">
        <h3 class="BlueText">Manual Previews</h3>
        <div style="margin-left:-12px;">
          {{ .Content | markdownify }}
        </div>
    </div>
  </div>
</div>
<div class="ManArea" style="margin-top:20px;">
  <div class="productLayout">
    <div class="MannProp">
        <h3 class="BlueText">Customer Reviews</h3>
        {{range .Params.manualreview}}
          <div class="ReviewBox">
            <p><strong>{{.reviewItemNickname}}</strong></p>
            <h4 style="clear:both;" class="productTitle"><span class="BlueText">Rating: </span>
              {{ $myempty := sub 5 .reviewItemRating }}
              {{if eq $myempty 0}}
                <!-- <span class='empty-myStart'><i class='fa fa-star' aria-hidden='true'></i></span> -->
              {{end}}
              {{if eq .reviewItemRating 1}}
                <span class='myStart'><i class='fa fa-star' aria-hidden='true'></i></span>
              {{end}}
              {{if eq .reviewItemRating 2}}
                <span class='myStart'><i class='fa fa-star' aria-hidden='true'></i></span>
                <span class='myStart'><i class='fa fa-star' aria-hidden='true'></i></span>
              {{end}}
              {{if eq .reviewItemRating 3}}
                <span class='myStart'><i class='fa fa-star' aria-hidden='true'></i></span>
                <span class='myStart'><i class='fa fa-star' aria-hidden='true'></i></span>
                <span class='myStart'><i class='fa fa-star' aria-hidden='true'></i></span>
              {{end}}
              {{if eq .reviewItemRating 4}}
                <span class='myStart'><i class='fa fa-star' aria-hidden='true'></i></span>
                <span class='myStart'><i class='fa fa-star' aria-hidden='true'></i></span>
                <span class='myStart'><i class='fa fa-star' aria-hidden='true'></i></span>
                <span class='myStart'><i class='fa fa-star' aria-hidden='true'></i></span>
              {{end}}
              {{if eq .reviewItemRating 5}}
                <span class='myStart'><i class='fa fa-star' aria-hidden='true'></i></span>
                <span class='myStart'><i class='fa fa-star' aria-hidden='true'></i></span>
                <span class='myStart'><i class='fa fa-star' aria-hidden='true'></i></span>
                <span class='myStart'><i class='fa fa-star' aria-hidden='true'></i></span>
                <span class='myStart'><i class='fa fa-star' aria-hidden='true'></i></span>
              {{end}}
              {{if eq $myempty 1}}
                <span class='empty-myStart'><i class='fa fa-star' aria-hidden='true'></i></span>
              {{end}}
              {{if eq $myempty 2}}
                <span class='empty-myStart'><i class='fa fa-star' aria-hidden='true'></i></span>
                <span class='empty-myStart'><i class='fa fa-star' aria-hidden='true'></i></span>
              {{end}}
              {{if eq $myempty 3}}
                <span class='empty-myStart'><i class='fa fa-star' aria-hidden='true'></i></span>
                <span class='empty-myStart'><i class='fa fa-star' aria-hidden='true'></i></span>
                <span class='empty-myStart'><i class='fa fa-star' aria-hidden='true'></i></span>
              {{end}}
              {{if eq $myempty 4}}
                <span class='empty-myStart'><i class='fa fa-star' aria-hidden='true'></i></span>
                <span class='empty-myStart'><i class='fa fa-star' aria-hidden='true'></i></span>
                <span class='empty-myStart'><i class='fa fa-star' aria-hidden='true'></i></span>
                <span class='empty-myStart'><i class='fa fa-star' aria-hidden='true'></i></span>
              {{end}}
              {{if eq $myempty 5}}
                <span class='empty-myStart'><i class='fa fa-star' aria-hidden='true'></i></span>
                <span class='empty-myStart'><i class='fa fa-star' aria-hidden='true'></i></span>
                <span class='empty-myStart'><i class='fa fa-star' aria-hidden='true'></i></span>
              {{end}}
            </h4>
            <p><strong>Date:</strong>{{.reviewItemDate}}</p>
          </div>
        {{end}}
    </div>
  </div>
</div>
<div class="ManArea" style="margin-top:20px;text-align:center;">
  {{.Params.sendowl | safeHTML }}
</div>
<br>
