{{ partial "header.html" . }}
<input type="hidden" id="CatpageTile" value="{{.Title}}">
<input type="hidden" id="display_brand" value="{{.Title}}">
<div class="mainContentLayout">
  <div class="main">
    <div class="leftAlgolia">
      {{partial "filter.html" .}}
    </div>
    <div class="rightProduct">
      <div class="pure-g" id="productData">
          {{range .Data.Pages}}
            {{if eq .Type "manual"}}
              <div class="pure-u-1 pure-u-md-1-3">
                <div class="productBox">
                  <div class="productImage">
                    <a href="{{.Permalink}}"><img src="{{.Params.catimage}}" alt=""></a>
                  </div>
                  <div class="productDesc">
                    <a href="{{.Permalink}}">{{.Params.manualname}}</a>
                    <ul>
                        <li>Make: {{.Params.makes}}</li>
                        <li>Series: {{.Params.series}}</li>
                        <li>Subseries: {{.Params.subseries}}</li>
                        <li>Platform: {{.Params.platform}}</li>
                        <li>Year: {{.Params.years}}</li>
                    </ul>
                    <a href="{{.Permalink}}" class="ProductBorderButton">More Info</a>
                  </div>
                </div>
              </div>
            {{end}}
          {{end}}
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  $(document).ready(function(){
    var title = $("#CatpageTile").val();
    $("#HeaderTitle").text(title);
  });
</script>
{{partial "filter_js.html" .}}
{{ partial "footer.html" . }}
